<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8" />
    <title>Cadastro de Usuário</title>
    <!-- Icones -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.min.css" rel="stylesheet" />

</head>
<body>
    <section class="layout-content" layout:fragment="corpo">

        <div class="container" id="cadastro">

            <!-- Fragmento para exibir alertas de sucesso ou falha -->
            <div th:replace="fragments/alert"></div>

            <form
                th:action="${usuario.id == null} ? @{/usuarios/salvar} : @{/usuarios/editar}"
                th:object="${usuario}" method="POST">
                
                <!-- Campo oculto para o ID, usado para diferenciar cadastro de edição -->
                <input type="hidden" id="id" th:field="*{id}" />

                <div class="button-group" style="align-items: center;">
                    <div class="role-selection-buttons">
                        <button class="button-style role-buttons"> 
                            <span style="margin-right: 8px;" class="oi oi-person"></span>
                            Profissional 
                        </button>
                        <button class="button-style role-buttons"> 
                            <span style="margin-right: 8px;" class="oi oi-briefcase"></span> 
                            Empresa 
                        </button>
                    </div>
                    <!-- FAZER DEMAIS CAMPOS ASSIM QUE OS DAOS ESTIVEREM PRONTOS <div style="width: 40%;">
                        <label for="nome">Nome</label> 
                        <input type="text" class="form-control" id="nome" placeholder="Insira o nome"
                            th:field="*{nome}" th:classappend="${#fields.hasErrors('nome')} ? is-invalid" />
                        <div class="invalid-feedback">
                            <span th:errors="*{nome}"></span>
                        </div>
                    </div> -->
                    <div style="width: 40%;">
                        <label for="email">Email</label> 
                        <input type="email" class="form-control" id="email" placeholder="email@example.com" th:field="*{email}"
                            th:classappend="${#fields.hasErrors('email')} ? is-invalid" />

                        <div class="invalid-feedback">
                            <span th:errors="*{email}"></span>
                        </div>
                    </div>

                    <div style="width: 40%;">
                        <label for="senha">Senha</label> 
                        <input type="password" class="form-control" id="senha" placeholder="Digite sua senha"
                            th:field="*{senha}"
                            th:classappend="${#fields.hasErrors('senha')} ? is-invalid" />
                                     
                        <div class="invalid-feedback">
                            <span th:errors="*{senha}"></span>
                        </div>
                    </div>
                    
                    <button type="submit" class="button-style">Cadastrar</button>
                </div>
            </form>
        </div>
    </section>
</body>
</html>
