<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8" />
    <title>Cadastro de Profissional</title>
</head>
<body>
    <section class="layout-content" layout:fragment="corpo">
        <div class="container center">
            <h1 class="title-text" style="font-size: 2em;">Cadastro de Profissional</h1>
            <div th:replace="fragments/alert"></div>

            <form th:action="${profissional.id == null} ? @{/profissionais/salvar} : @{/profissionais/editar}"
                  th:object="${profissional}" method="POST" style="width: 40%;">

                <input type="hidden" id="id" th:field="*{id}" />
                <input type="hidden" th:field="*{papel}" />

                <div class="item-form">
                    <label for="email">E-mail</label>
                    <input type="email" class="form-control" id="email" placeholder="E-mail"
                        autofocus="autofocus" th:field="*{email}"
                        th:classappend="${#fields.hasErrors('email')} ? is-invalid" />
                    <div class="invalid-feedback">
                        <span th:errors="*{email}"></span>
                    </div>
                </div>

                <div class="item-form">
                    <label for="senha">Senha</label>
                    <input type="password" class="form-control" id="senha" placeholder="Senha"
                        th:field="*{senha}"
                        th:classappend="${#fields.hasErrors('senha')} ? is-invalid" />
                    <div class="invalid-feedback">
                        <span th:errors="*{senha}"></span>
                    </div>
                </div>

                <div class="item-form">
                    <label for="nome">Nome Completo</label>
                    <input type="text" class="form-control" id="nome" placeholder="Nome Completo"
                        th:field="*{nome}"
                        th:classappend="${#fields.hasErrors('nome')} ? is-invalid" />
                    <div class="invalid-feedback">
                        <span th:errors="*{nome}"></span>
                    </div>
                </div>

                <div class="item-form">
                    <label for="cpf">CPF</label>
                    <input type="text" class="form-control" id="cpf" placeholder="CPF"
                        data-mask="000.000.000-00" data-mask-reverse="true" th:field="*{cpf}"
                        th:classappend="${#fields.hasErrors('cpf')} ? is-invalid" />
                    <div class="invalid-feedback">
                        <span th:errors="*{cpf}"></span>
                    </div>
                </div>

                <div class="item-form">
                    <label for="telefone">Telefone</label>
                    <input type="text" class="form-control" id="telefone" placeholder="Telefone"
                        data-mask="(00) 00000-0000" th:field="*{telefone}"
                        th:classappend="${#fields.hasErrors('telefone')} ? is-invalid" />
                    <div class="invalid-feedback">
                        <span th:errors="*{telefone}"></span>
                    </div>
                </div>

                <div class="item-form">
                    <label for="sexo">Sexo</label>
                    <select id="sexo" class="form-control" th:field="*{sexo}"
                        th:classappend="${#fields.hasErrors('sexo')} ? is-invalid">
                        <option value="">Selecione</option>
                        <option th:each="enumSexo : ${sexos}" th:value="${enumSexo}" th:text="${enumSexo}"></option>
                    </select>
                    <div class="invalid-feedback">
                        <span th:errors="*{sexo}"></span>
                    </div>
                </div>

                <div class="item-form">
                    <label for="dataNascimento">Data de Nascimento</label>
                    <input type="date" class="form-control" id="dataNascimento"
                        th:field="*{dataNascimento}"
                        th:classappend="${#fields.hasErrors('dataNascimento')} ? is-invalid" />
                    <div class="invalid-feedback">
                        <span th:errors="*{dataNascimento}"></span>
                    </div>
                </div>

                <div class="item-form">
                    <label for="cidade">Cidade</label>
                    <input type="text" class="form-control" id="cidade" placeholder="Cidade"
                        th:field="*{cidade}"
                        th:classappend="${#fields.hasErrors('cidade')} ? is-invalid" />
                    <div class="invalid-feedback">
                        <span th:errors="*{cidade}"></span>
                    </div>
                </div>

                <div class="item-form">
                    <label for="estado">Estado</label>
                    <input type="text" class="form-control" id="estado" placeholder="Estado"
                        th:field="*{estado}"
                        th:classappend="${#fields.hasErrors('estado')} ? is-invalid" />
                    <div class="invalid-feedback">
                        <span th:errors="*{estado}"></span>
                    </div>
                </div>

                <div class="item-form">
                    <label for="pais">País</label>
                    <input type="text" class="form-control" id="pais" placeholder="País"
                        th:field="*{pais}"
                        th:classappend="${#fields.hasErrors('pais')} ? is-invalid" />
                    <div class="invalid-feedback">
                        <span th:errors="*{pais}"></span>
                    </div>
                </div>

                <div class="center" style="flex-direction: row;">
                    <button style="margin-inline: 10px; width: 40%;" type="submit" class="button-style">Salvar</button>
                    <a style="margin-inline: 10px; width: 40%;" th:href="@{/profissionais/listar}" class="button-style inactive">Cancelar</a>
                </div>
            </form>
        </div>
    </section>
</body>
</html>