<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8" />
    <title>Minhas Vagas</title> 
</head>
<body>
    <section class="layout-content" layout:fragment="corpo">
        <div class="container center">
            <div class="alert-container" th:replace="fragments/alert"></div>
            <h1 class="title-text" style="font-size: 2em;">Minhas Vagas Publicadas</h1>
            <img src="/image/vaga.png" width="150px" style="margin-top: -20px" alt="Vaga Icon" />
            
            <table class="table-lista">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Título</th>
                        <th>Remuneração</th>
                        <th>descricao</th>
                        <th>Empresa</th>
                        <th>Ação</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="vaga: ${vagas}">
                        <td th:text="${vaga.id}"></td>
                        <td th:text="${vaga.titulo}"></td>
                        <td th:text="${vaga.remuneracao}"></td>
                        <td th:text="${vaga.descricao}"></td>
                        <td th:text="${vaga.empresa.nome}"></td>
                        <td>
                            <div class="table-action-buttons">
                                <a class="button-style" th:href="@{/candidaturas/gerenciar/{idVaga}(idVaga=${vaga.id})}" role="button">
                                 Candidaturas
                                </a>
                                <button
                                    th:id="${'btn_vagas/excluir/' + vaga.id}"
                                    type="button" class="button-style delete"
                                    data-toggle="modal" data-target="#myModal">
                                    <span class="oi oi-circle-x" title="Excluir" aria-hidden="true"></span>
                                </button>
                            </div>
                        </td>
                    </tr>
                    <tr th:if="${#lists.isEmpty(vagas)}">
                        <td colspan="7" style="text-align: center; color: #777;">Você ainda não cadastrou nenhuma vaga.</td>
                    </tr>
                </tbody>
            </table>
            
            <div class="center" style="margin-block: 20px;">
                <a class="button-style" th:href="@{/vagas/cadastrar}" role="button">Cadastrar novas vagas</a>
            </div>

        </div>
        <div th:replace="fragments/modal :: modal"></div>
    </section>
</body>
</html>