<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8" />
    <title>Minhas Vagas</title> </head>
<body>
    <section class="layout-content" layout:fragment="corpo">
        <div class="container">
            <h1 class="title-text center" style="font-size: 2em; margin-bottom: 20px;">Minhas Vagas Publicadas</h1>

            <div th:each="vaga : ${vagas}" class="job-card">
                <div class="job-card-header">
                    <h2 th:text="${vaga.titulo}">Título da vaga</h2>
                    <span class="deadline" th:text="${#dates.format(vaga.dataLimiteInscricao, 'dd/MM/YYYY')}">xx/xx/xxxx</span>
                </div>
                <div class="job-details">
                    <span class="bold" th:text="${#numbers.formatCurrency(vaga.remuneracao)}">remuneração</span>
                </div>
                <div class="job-details company-info">
                    <span th:text="${vaga.empresa.nome}">Empresa ABC</span>
                    </div>
                <span th:text="${vaga.descricao}">descrição blablabla...</span>
                <div class="job-footer">
                    <span class="company-info" th:text="${vaga.cidade} + ' - ' + ${vaga.estado}">cidade - XX</span>

                    <div class="table-action-buttons">
                        <a class="button-style edit" th:href="@{/vagas/editar/{id} (id=${vaga.id})}" role="button"> 
                            <span class="oi oi-brush" title="Editar" aria-hidden="true"> </span> Editar
                        </a>
                        <a class="button-style" th:href="@{/candidaturas/gerenciar/{idVaga}(idVaga=${vaga.id})}" role="button">
                            Gerenciar Candidaturas
                        </a>
                        <button
                            th:id="${'btn_vagas/excluir/' + vaga.id}"
                            type="button" class="button-style delete"
                            data-toggle="modal" data-target="#myModal">
                            <span class="oi oi-circle-x" title="Excluir" aria-hidden="true"></span> Excluir
                        </button>
                    </div>
                </div>
            </div>

            <div th:if="${#lists.isEmpty(vagas)}" class="job-card" style="text-align: center; color: #777;">
                <p>Você ainda não tem vagas cadastradas.</p>
                <a th:href="@{/vagas/cadastrar}" class="button-style">Cadastrar nova vaga</a>
            </div>

        </div>
        <div th:replace="fragments/modal :: modal"></div>
    </section>
</body>
</html>