<!DOCTYPE html>
<html>
<head><meta charset="UTF-8"></head>
<body>
    <header th:fragment="cabecalho">
        <nav class="header">
            <div class="header-title">
                <a th:href="@{/}">Procurando por vagas? Lugar certo!</a>
            </div>
            <div class="header-buttons">
                <a class="button-style" th:href="@{/perfilAdministrador}">Perfil</a>
                <a class="button-style" th:href="@{/login}">Login</a>
                <form th:action="@{/logout}" method="post" style="display: inline;">
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                    <button type="submit" class="button-style" style="border: none; cursor: pointer;">Sair</button>
                </form>
            </div>
        </nav>
    </header>
</body>
</html>
