<!DOCTYPE html>
<html>
<head><meta charset="UTF-8"></head>
<body>
    <header th:fragment="cabecalho">
        <nav class="header">
            <div class="header-title">
                <a th:href="@{/}">Procurando por vagas? Lugar certo!</a>
            </div>
            <div class="header-buttons">
                <a class="button-style" th:href="@{/perfilAdministrador}">Perfil</a>
                <a class="button-style" th:href="@{/logout}">Sair</a>
            </div>
        </nav>
    </header>
</body>
</html>
