<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8" />
    <title>Perfil da Empresa</title>
</head>
<body>
        <div class="profile-container" layout:fragment="corpo">

            <div class="title-text">
                <br>Bem vindo de volta!
                <br>o que deseja?
            </div>

            <div class="button-group">
                <a class="button-style" th:href="@{/usuarios/editar/id_usuario}">Alterar meus dados</a>
                
                <a class="button-style" th:href="@{/vagas/listar}">Ver minhas vagas</a>
                
                <a class="button-style" th:href="@{/vagas/cadastrar}">Adicionar nova vaga</a>
            </div>
        </div>

    </section>
</body>
</html>
