<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8" />
    <title>Perfil do Admin</title>
</head>
<body>
        <div class="profile-container" layout:fragment="corpo">

            <div class="title-text">
                <br>Bem vindo de volta!
                <br>o que deseja?
            </div>

            <div class="button-group">
                <a class="button-style" th:href="@{/usuarios/listar/perfil}">Ver meus dados</a>
                
                <a class="button-style" th:href="@{/profissionais/listar}">Ver Profissionais</a>
                
                <a class="button-style" th:href="@{/empresas/listar}">Ver Empresas</a>
            </div>
        </div>

    </section>
</body>
</html>
